@import "tailwindcss";

@theme {
  --color-background: #0A0A0B;
  --color-foreground: #E6E6E6;
  --color-accent:     #FFEE3B;
  --color-surface:    #141416;

  --font-sans: var(--font-inter);
  --font-serif: var(--font-cormorant);
}